@charset "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.823); text-align: center;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}